# Make Dummies from Categorical variables

#### Imports I

In [2]:
import pandas as pd
import numpy as np

In [3]:
%store -r data
%store -r col_year_month
%store -r col_categorical
%store -r col_target
%store -r col_numeric
%store -r combined_list

### Just a reminder:
The DataFrame `data` includes the binarized `target` variable, has no NaNs, and is two columns more than `combined_list`, because two of the original categorical variables were redundant, `carrier_name` and `airport_name`.

In [4]:
data[combined_list].head()

,year,month,carrier,airport,arr_flights,carrier_ct,weather_ct,nas_ct,security_ct,late_aircraft_ct,arr_cancelled,arr_diverted,arr_delay,carrier_delay,weather_delay,nas_delay,security_delay,late_aircraft_delay,target
0,2016,1,AA,DFW,11956.0,507.33,39.83,452.65,4.72,529.47,201.0,9.0,106950.0,50027.0,2842.0,13913.0,167.0,40001.0,1
1,2016,1,AA,DTW,588.0,34.71,4.71,19.77,0.32,38.49,13.0,2.0,5170.0,1754.0,312.0,655.0,16.0,2433.0,1
2,2016,1,AA,SEA,607.0,35.52,5.40,23.55,0.00,27.52,12.0,2.0,4485.0,1857.0,198.0,715.0,0.0,1715.0,1
3,2016,1,AA,JFK,1595.0,117.00,10.26,117.66,0.83,89.25,137.0,6.0,23698.0,9681.0,1592.0,4371.0,18.0,8036.0,1
4,2016,1,AA,SJC,327.0,23.67,1.47,14.50,0.06,19.29,0.0,0.0,2276.0,985.0,94.0,373.0,5.0,819.0,1

### Display the columns to be transformed into dummies in green

In [5]:
# the `data2` variable holds the `combined_list` because when we color the redundant columns, the 
# programming that does the coloring disables other DataFrame methods and functions we will need for 
# further programming... need to do %store -r data; %store -r combined_list;
# then run this cell
data_for_dummies = data[combined_list].sample(5)
# function examines value's length, and returns red if its too long
def if_str_violet(val):
    val = val; color = 'darkviolet' if type(val) == str else 'black'; return 'color: %s' % color
# apply the function
red_dummies = data_for_dummies.style.applymap(if_str_violet)
red_dummies

In [6]:
%store data_for_dummies

Stored 'data_for_dummies' (DataFrame)

In [7]:
red_dummies_cheat = "just uncomment this" + """def if_str_red(val):
    val = val; color = 'red' if type(val) == str else 'black'; return 'color: %s' % color
red_dummies = data_for_dummies.style.applymap(if_str_red)
red_dummies"""
red_dummies_cheat

"just uncomment thisdef if_str_red(val):\n    val = val; color = 'red' if type(val) == str else 'black'; return 'color: %s' % color\nred_dummies = data_for_dummies.style.applymap(if_str_red)\nred_dummies"

In [8]:
%store red_dummies_cheat

Stored 'red_dummies_cheat' (str)

#### Use pandas to get dummies for `data.carrier`

In [9]:
# since AA is first without caling drop_first=True, it is not present for concatenation
# with the dataset used for supervised machine learning algorithms, however,
# we may use the commented out code in order to include AA
# carrier_dummies = pd.get_dummies(data.carrier, prefix='carrier', prefix_sep='_')

carrier_dummies = pd.get_dummies(data[combined_list].carrier, prefix='carrier', prefix_sep='_', drop_first=True)
carrier_dummies.columns

Index([u'carrier_AS', u'carrier_B6', u'carrier_DL', u'carrier_EV',
       u'carrier_F9', u'carrier_HA', u'carrier_NK', u'carrier_OO',
       u'carrier_UA', u'carrier_VX', u'carrier_WN'],
      dtype='object')

In [10]:
len(carrier_dummies.columns)

11

#### Use pandas to get dummies for `data.airport`

In [11]:
# since ABE is first without calling drop_first=True, it is not present for concatenation
# wiht the datset used for supervised machine learning algorithms, however,
# we may use the commented out code in order to include ABE
# airport_dummies = pd.get_dummies(data.airport, prefix='airport', prefix_sep ='_')

airport_dummies = pd.get_dummies(data[combined_list].airport, prefix='airport', prefix_sep ='_', drop_first=True)
airport_dummies.columns

Index([u'airport_ABI', u'airport_ABQ', u'airport_ABR', u'airport_ABY',
       u'airport_ACK', u'airport_ACT', u'airport_ACV', u'airport_ACY',
       u'airport_ADK', u'airport_ADQ',
       ...
       u'airport_TYR', u'airport_TYS', u'airport_UST', u'airport_VLD',
       u'airport_VPS', u'airport_WRG', u'airport_WYS', u'airport_XNA',
       u'airport_YAK', u'airport_YUM'],
      dtype='object', length=309)

Calling `len(airport_dummies.columns)` shows there are 309 columns created by the dummies process, since we dropped the first one as its n-1 features.

In [12]:
len(airport_dummies.columns)

309

Our dataset now includes 320 new features to add... this will change the computation expenditure

In [13]:
len(carrier_dummies.columns) + len(airport_dummies.columns)

320

Concatenate `data[combined_list]` with the carrier dummies

In [14]:
data_full_00 = pd.concat([data[combined_list], carrier_dummies], axis=1)
data_full_00.head()

,year,month,carrier,airport,arr_flights,carrier_ct,weather_ct,nas_ct,security_ct,late_aircraft_ct,...,carrier_B6,carrier_DL,carrier_EV,carrier_F9,carrier_HA,carrier_NK,carrier_OO,carrier_UA,carrier_VX,carrier_WN
0,2016,1,AA,DFW,11956.0,507.33,39.83,452.65,4.72,529.47,...,0,0,0,0,0,0,0,0,0,0
1,2016,1,AA,DTW,588.0,34.71,4.71,19.77,0.32,38.49,...,0,0,0,0,0,0,0,0,0,0
2,2016,1,AA,SEA,607.0,35.52,5.40,23.55,0.00,27.52,...,0,0,0,0,0,0,0,0,0,0
3,2016,1,AA,JFK,1595.0,117.00,10.26,117.66,0.83,89.25,...,0,0,0,0,0,0,0,0,0,0
4,2016,1,AA,SJC,327.0,23.67,1.47,14.50,0.06,19.29,...,0,0,0,0,0,0,0,0,0,0

##### Up to 30 columns with the first addition of dummies

In [15]:
data_full_00.tail()

,year,month,carrier,airport,arr_flights,carrier_ct,weather_ct,nas_ct,security_ct,late_aircraft_ct,...,carrier_B6,carrier_DL,carrier_EV,carrier_F9,carrier_HA,carrier_NK,carrier_OO,carrier_UA,carrier_VX,carrier_WN
11188,2016,11,WN,LGB,203.0,7.52,0.00,1.52,0.0,16.96,...,0,0,0,0,0,0,0,0,0,1
11189,2016,11,WN,LIT,208.0,11.82,0.29,7.21,0.0,13.68,...,0,0,0,0,0,0,0,0,0,1
11190,2016,11,WN,MAF,250.0,11.88,0.00,6.35,0.0,19.77,...,0,0,0,0,0,0,0,0,0,1
11191,2016,11,WN,MCI,1984.0,85.57,3.34,55.88,0.0,112.21,...,0,0,0,0,0,0,0,0,0,1
11192,2016,11,UA,SAV,1.0,0.00,0.00,0.00,0.0,0.00,...,0,0,0,0,0,0,0,1,0,0

##### Note:
It's disturbing to see that a DataFrame we modified to have 11173 rows, shows 11192 after calling ` .tail()`...

however, examining the length or calling `.index` shows that data_full is the right length

In [16]:
data_full_00.index

Int64Index([    0,     1,     2,     3,     4,     5,     6,     7,     8,
                9,
            ...
            11183, 11184, 11185, 11186, 11187, 11188, 11189, 11190, 11191,
            11192],
           dtype='int64', length=11173)

##### Or we can check all the relevant lengths of DataFrame groups and see if they match up... so concatenation should work

In [17]:
# this throws no error
assert len(data) == len(data[combined_list]) == len(carrier_dummies) == len(data_full_00) == len(airport_dummies)

#### Re-use the `data_full` variable and 
Concatenate `data_full_00` with the airport dummies

In [18]:
data_full_01 = df = pd.concat([data_full_00, airport_dummies], axis=1)
data_full_01.head()

,year,month,carrier,airport,arr_flights,carrier_ct,weather_ct,nas_ct,security_ct,late_aircraft_ct,...,airport_TYR,airport_TYS,airport_UST,airport_VLD,airport_VPS,airport_WRG,airport_WYS,airport_XNA,airport_YAK,airport_YUM
0,2016,1,AA,DFW,11956.0,507.33,39.83,452.65,4.72,529.47,...,0,0,0,0,0,0,0,0,0,0
1,2016,1,AA,DTW,588.0,34.71,4.71,19.77,0.32,38.49,...,0,0,0,0,0,0,0,0,0,0
2,2016,1,AA,SEA,607.0,35.52,5.40,23.55,0.00,27.52,...,0,0,0,0,0,0,0,0,0,0
3,2016,1,AA,JFK,1595.0,117.00,10.26,117.66,0.83,89.25,...,0,0,0,0,0,0,0,0,0,0
4,2016,1,AA,SJC,327.0,23.67,1.47,14.50,0.06,19.29,...,0,0,0,0,0,0,0,0,0,0

Looking at the `.head()` or calling `len(df)`,  we see that there are now 328 columns

In [19]:
len(data_full_01.columns)

339

And by calling `data_full.columns_0x[18]`, we know that `target` is still in there, so, for machine learning, we will have to separate it from `data_full`

In [20]:
data_full_01.columns[18]

'target'

In [21]:
%store data_full_01

Stored 'data_full_01' (DataFrame)

## Dummies for months

In [22]:
# since 1 is first month without calling drop_first=True, it is not present for concatenation
# wiht the datset used for supervised machine learning algorithms, however,
# we may use the commented out code in order to include 1 (January)
# months_dummies = pd.get_dummies(data[combined_list].month, prefix='months', prefix_sep ='_')
months_dummies = pd.get_dummies(data[combined_list].month, prefix='months', prefix_sep ='_', drop_first=True)
months_dummies.head()

,months_2,months_3,months_4,months_5,months_6,months_7,months_8,months_9,months_10,months_11
0,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0

In [23]:
%store months_dummies

Stored 'months_dummies' (DataFrame)

In [24]:
data_full_02 = df = pd.concat([data_full_01, months_dummies], axis=1)
data_full_02.head()

,year,month,carrier,airport,arr_flights,carrier_ct,weather_ct,nas_ct,security_ct,late_aircraft_ct,...,months_2,months_3,months_4,months_5,months_6,months_7,months_8,months_9,months_10,months_11
0,2016,1,AA,DFW,11956.0,507.33,39.83,452.65,4.72,529.47,...,0,0,0,0,0,0,0,0,0,0
1,2016,1,AA,DTW,588.0,34.71,4.71,19.77,0.32,38.49,...,0,0,0,0,0,0,0,0,0,0
2,2016,1,AA,SEA,607.0,35.52,5.40,23.55,0.00,27.52,...,0,0,0,0,0,0,0,0,0,0
3,2016,1,AA,JFK,1595.0,117.00,10.26,117.66,0.83,89.25,...,0,0,0,0,0,0,0,0,0,0
4,2016,1,AA,SJC,327.0,23.67,1.47,14.50,0.06,19.29,...,0,0,0,0,0,0,0,0,0,0

## Drop the `carrier`, and `airport` columns
since we used them to create dummies, they are now redundant

In [25]:
data_full_02.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 11173 entries, 0 to 11192
Data columns (total 349 columns):
year                   int64
month                  int64
carrier                object
airport                object
arr_flights            float64
carrier_ct             float64
weather_ct             float64
nas_ct                 float64
security_ct            float64
late_aircraft_ct       float64
arr_cancelled          float64
arr_diverted           float64
arr_delay              float64
carrier_delay          float64
weather_delay          float64
nas_delay              float64
security_delay         float64
late_aircraft_delay    float64
target                 int64
carrier_AS             uint8
carrier_B6             uint8
carrier_DL             uint8
carrier_EV             uint8
carrier_F9             uint8
carrier_HA             uint8
carrier_NK             uint8
carrier_OO             uint8
carrier_UA             uint8
carrier_VX             uint8
carrier_WN             uint8
airport_ABI            uint8
airport_ABQ            uint8
airport_ABR            uint8
airport_ABY            uint8
airport_ACK            uint8
airport_ACT            uint8
airport_ACV            uint8
airport_ACY            uint8
airport_ADK            uint8
airport_ADQ            uint8
airport_AEX            uint8
airport_AGS            uint8
airport_AKN            uint8
airport_ALB            uint8
airport_AMA            uint8
airport_ANC            uint8
airport_APN            uint8
airport_ASE            uint8
airport_ATL            uint8
airport_ATW            uint8
airport_AUS            uint8
airport_AVL            uint8
airport_AVP            uint8
airport_AZO            uint8
airport_BDL            uint8
airport_BET            uint8
airport_BFL            uint8
airport_BGM            uint8
airport_BGR            uint8
airport_BHM            uint8
airport_BIL            uint8
airport_BIS            uint8
airport_BJI            uint8
airport_BLI            uint8
airport_BMI            uint8
airport_BNA            uint8
airport_BOI            uint8
airport_BOS            uint8
airport_BPT            uint8
airport_BQK            uint8
airport_BQN            uint8
airport_BRD            uint8
airport_BRO            uint8
airport_BRW            uint8
airport_BTM            uint8
airport_BTR            uint8
airport_BTV            uint8
airport_BUF            uint8
airport_BUR            uint8
airport_BWI            uint8
airport_BZN            uint8
airport_CAE            uint8
airport_CAK            uint8
airport_CDC            uint8
airport_CDV            uint8
airport_CHA            uint8
airport_CHO            uint8
airport_CHS            uint8
airport_CID            uint8
airport_CIU            uint8
airport_CLE            uint8
airport_CLL            uint8
airport_CLT            uint8
airport_CMH            uint8
airport_CMX            uint8
airport_COD            uint8
airport_COS            uint8
airport_CPR            uint8
airport_CRP            uint8
airport_CRW            uint8
airport_CSG            uint8
airport_CVG            uint8
airport_CWA            uint8
airport_DAB            uint8
airport_DAL            uint8
airport_DAY            uint8
airport_DCA            uint8
airport_DEN            uint8
airport_DFW            uint8
airport_DHN            uint8
airport_DLG            uint8
airport_DLH            uint8
airport_DRO            uint8
airport_DSM            uint8
airport_DTW            uint8
airport_DVL            uint8
airport_EAU            uint8
airport_ECP            uint8
airport_EGE            uint8
airport_EKO            uint8
airport_ELM            uint8
airport_ELP            uint8
airport_ERI            uint8
airport_ESC            uint8
airport_EUG            uint8
airport_EVV            uint8
airport_EWN            uint8
airport_EWR            uint8
airport_EYW            uint8
airport_FAI            uint8
airport_FAR            uint8
airport_FAT            uint8
airport_FAY            uint8
airport_FCA            uint8
airport_FLG            uint8
airport_FLL            uint8
airport_FNT            uint8
airport_FSD            uint8
airport_FSM            uint8
airport_FWA            uint8
airport_GCC            uint8
airport_GCK            uint8
airport_GEG            uint8
airport_GFK            uint8
airport_GGG            uint8
airport_GJT            uint8
airport_GNV            uint8
airport_GPT            uint8
airport_GRB            uint8
airport_GRI            uint8
airport_GRK            uint8
airport_GRR            uint8
airport_GSO            uint8
airport_GSP            uint8
airport_GST            uint8
airport_GTF            uint8
airport_GTR            uint8
airport_GUC            uint8
airport_GUM            uint8
airport_HDN            uint8
airport_HIB            uint8
airport_HLN            uint8
airport_HNL            uint8
airport_HOB            uint8
airport_HOU            uint8
airport_HPN            uint8
airport_HRL            uint8
airport_HSV            uint8
airport_HYA            uint8
airport_HYS            uint8
airport_IAD            uint8
airport_IAG            uint8
airport_IAH            uint8
airport_ICT            uint8
airport_IDA            uint8
airport_ILM            uint8
airport_IMT            uint8
airport_IND            uint8
airport_INL            uint8
airport_ISN            uint8
airport_ISP            uint8
airport_ITH            uint8
airport_ITO            uint8
airport_JAC            uint8
airport_JAN            uint8
airport_JAX            uint8
airport_JFK            uint8
airport_JLN            uint8
airport_JMS            uint8
airport_JNU            uint8
airport_KOA            uint8
airport_KTN            uint8
airport_LAN            uint8
airport_LAR            uint8
airport_LAS            uint8
airport_LAW            uint8
airport_LAX            uint8
airport_LBB            uint8
airport_LBE            uint8
airport_LCH            uint8
airport_LEX            uint8
airport_LFT            uint8
airport_LGA            uint8
airport_LGB            uint8
airport_LIH            uint8
airport_LIT            uint8
airport_LNK            uint8
airport_LRD            uint8
airport_LSE            uint8
airport_LWS            uint8
airport_MAF            uint8
airport_MBS            uint8
airport_MCI            uint8
airport_MCO            uint8
airport_MDT            uint8
airport_MDW            uint8
airport_MEI            uint8
airport_MEM            uint8
airport_MFE            uint8
airport_MFR            uint8
airport_MGM            uint8
airport_MHK            uint8
airport_MHT            uint8
airport_MIA            uint8
airport_MKE            uint8
airport_MKG            uint8
airport_MLB            uint8
airport_MLI            uint8
airport_MLU            uint8
airport_MMH            uint8
airport_MOB            uint8
airport_MOT            uint8
airport_MQT            uint8
airport_MRY            uint8
airport_MSN            uint8
airport_MSO            uint8
airport_MSP            uint8
airport_MSY            uint8
airport_MTJ            uint8
airport_MVY            uint8
airport_MYR            uint8
airport_OAJ            uint8
airport_OAK            uint8
airport_OGG            uint8
airport_OKC            uint8
airport_OMA            uint8
airport_OME            uint8
airport_ONT            uint8
airport_ORD            uint8
airport_ORF            uint8
airport_ORH            uint8
airport_OTH            uint8
airport_OTZ            uint8
airport_PAH            uint8
airport_PBG            uint8
airport_PBI            uint8
airport_PDX            uint8
airport_PGD            uint8
airport_PHF            uint8
airport_PHL            uint8
airport_PHX            uint8
airport_PIA            uint8
airport_PIB            uint8
airport_PIH            uint8
airport_PIT            uint8
airport_PLN            uint8
airport_PNS            uint8
airport_PPG            uint8
airport_PSC            uint8
airport_PSE            uint8
airport_PSG            uint8
airport_PSP            uint8
airport_PVD            uint8
airport_PWM            uint8
airport_RAP            uint8
airport_RDD            uint8
airport_RDM            uint8
airport_RDU            uint8
airport_RHI            uint8
airport_RIC            uint8
airport_RKS            uint8
airport_RNO            uint8
airport_ROA            uint8
airport_ROC            uint8
airport_ROW            uint8
airport_RST            uint8
airport_RSW            uint8
airport_SAF            uint8
airport_SAN            uint8
airport_SAT            uint8
airport_SAV            uint8
airport_SBA            uint8
airport_SBN            uint8
airport_SBP            uint8
airport_SCC            uint8
airport_SCE            uint8
airport_SDF            uint8
airport_SEA            uint8
airport_SFO            uint8
airport_SGF            uint8
airport_SGU            uint8
airport_SHV            uint8
airport_SIT            uint8
airport_SJC            uint8
airport_SJT            uint8
airport_SJU            uint8
airport_SLC            uint8
airport_SMF            uint8
airport_SMX            uint8
airport_SNA            uint8
airport_SPI            uint8
airport_SPN            uint8
airport_SPS            uint8
airport_SRQ            uint8
airport_STL            uint8
airport_STT            uint8
airport_STX            uint8
airport_SUN            uint8
airport_SWF            uint8
airport_SYR            uint8
airport_TLH            uint8
airport_TPA            uint8
airport_TRI            uint8
airport_TTN            uint8
airport_TUL            uint8
airport_TUS            uint8
airport_TVC            uint8
airport_TWF            uint8
airport_TXK            uint8
airport_TYR            uint8
airport_TYS            uint8
airport_UST            uint8
airport_VLD            uint8
airport_VPS            uint8
airport_WRG            uint8
airport_WYS            uint8
airport_XNA            uint8
airport_YAK            uint8
airport_YUM            uint8
months_2               uint8
months_3               uint8
months_4               uint8
months_5               uint8
months_6               uint8
months_7               uint8
months_8               uint8
months_9               uint8
months_10              uint8
months_11              uint8
dtypes: float64(14), int64(3), object(2), uint8(330)
memory usage: 5.2+ MB

In [26]:
len(data_full_02.columns)

349

In [27]:
data_for_models = data_full_02.drop(['year','carrier', 'airport', 'month'], axis=1)

In [28]:
len(data_for_models.columns)

345

## Store the variables

In [29]:
%store data_for_models

Stored 'data_for_models' (DataFrame)