Denver Delays 04

Downloaded from 
 - ```https://www.transtats.bts.gov/OT_Delay/ot_delaycause1.asp?display=data&pn=1```

In [49]:
import re
import pandas as pd
import numpy as np
from pygeocoder import Geocoder
import matplotlib as plt
from mpl_toolkits.basemap import Basemap

import seaborn as sns
%matplotlib inline

In [50]:
datafile = '802772815_92017_5649_airline_delay_causes.csv'
df = pd.read_csv(datafile)

In [51]:
df = df.drop('Unnamed: 21', axis=1)

In [52]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1050 entries, 0 to 1049
Data columns (total 21 columns):
year                   1050 non-null int64
 month                 1050 non-null int64
carrier                1050 non-null object
carrier_name           1050 non-null object
airport                1050 non-null object
airport_name           1050 non-null object
arr_flights            1048 non-null float64
arr_del15              1045 non-null float64
carrier_ct             1048 non-null float64
 weather_ct            1048 non-null float64
nas_ct                 1048 non-null float64
security_ct            1048 non-null float64
late_aircraft_ct       1048 non-null float64
arr_cancelled          1048 non-null float64
arr_diverted           1048 non-null float64
 arr_delay             1048 non-null float64
 carrier_delay         1048 non-null float64
weather_delay          1048 non-null float64
nas_delay              1048 non-null float64
security_delay         1048 non-null float64
late_aircraft_delay    1048 non-null float64
dtypes: float64(15), int64(2), object(4)
memory usage: 172.3+ KB

In [53]:
# plt.yscale('log')
var_df = pd.DataFrame(df.var())
var_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 17 entries, year to late_aircraft_delay
Data columns (total 1 columns):
0    17 non-null float64
dtypes: float64(1)
memory usage: 272.0+ bytes

In [54]:
df.shape

(1050, 21)

In [55]:
col_numeric = df.select_dtypes(include=[np.number]).columns.tolist()
col_categorical = df.select_dtypes(include=[np.object]).columns.tolist()

In [56]:
# eliminate the space in the variable names
numeric_list = []
for vvv in col_numeric:
    vvv = re.sub(r'\s+', '', vvv)
    numeric_list.append(vvv)

In [57]:
numeric_list

['year',
 'month',
 'arr_flights',
 'arr_del15',
 'carrier_ct',
 'weather_ct',
 'nas_ct',
 'security_ct',
 'late_aircraft_ct',
 'arr_cancelled',
 'arr_diverted',
 'arr_delay',
 'carrier_delay',
 'weather_delay',
 'nas_delay',
 'security_delay',
 'late_aircraft_delay']

In [58]:
df.columns

Index([u'year', u' month', u'carrier', u'carrier_name', u'airport',
       u'airport_name', u'arr_flights', u'arr_del15', u'carrier_ct',
       u' weather_ct', u'nas_ct', u'security_ct', u'late_aircraft_ct',
       u'arr_cancelled', u'arr_diverted', u' arr_delay', u' carrier_delay',
       u'weather_delay', u'nas_delay', u'security_delay',
       u'late_aircraft_delay'],
      dtype='object')

In [59]:
import matplotlib.pyplot as plt
%matplotlib inline

import seaborn as sns

from IPython.display import display

%matplotlib inline

In [61]:
df.head()

,year,month,carrier,carrier_name,airport,airport_name,arr_flights,arr_del15,carrier_ct,weather_ct,...,security_ct,late_aircraft_ct,arr_cancelled,arr_diverted,arr_delay,carrier_delay,weather_delay,nas_delay,security_delay,late_aircraft_delay
0,2017,9,AA,American Airlines Inc.,ABQ,"Albuquerque, NM: Albuquerque International Sun...",175.0,14.0,6.02,0.0,...,0.0,5.47,0.0,0.0,646.0,197.0,0.0,70.0,0.0,379.0
1,2017,9,AA,American Airlines Inc.,ALB,"Albany, NY: Albany International",79.0,8.0,4.37,0.0,...,0.0,2.86,0.0,0.0,424.0,182.0,0.0,25.0,0.0,217.0
2,2017,9,AA,American Airlines Inc.,AMA,"Amarillo, TX: Rick Husband Amarillo International",30.0,5.0,2.61,0.0,...,0.0,2.28,0.0,0.0,228.0,89.0,0.0,11.0,0.0,128.0
3,2017,9,AA,American Airlines Inc.,ANC,"Anchorage, AK: Ted Stevens Anchorage Internati...",30.0,5.0,4.39,0.0,...,0.0,0.28,0.0,0.0,212.0,193.0,0.0,14.0,0.0,5.0
4,2017,9,AA,American Airlines Inc.,ATL,"Atlanta, GA: Hartsfield-Jackson Atlanta Intern...",889.0,113.0,45.14,3.4,...,0.0,33.78,39.0,4.0,6786.0,2837.0,453.0,1347.0,0.0,2149.0

In [75]:
blueG = df[['carrier', 'weather_delay', ' weather_ct']].sort_values(by='carrier')
blueG[blueG[' weather_ct'] == 1]

    carrier  weather_delay   weather_ct
69       AA           16.0          1.0
29       AA           47.0          1.0
152      AS           28.0          1.0
127      AS           55.0          1.0
209      B6           35.0          1.0
211      B6           56.0          1.0
222      B6          163.0          1.0
167      B6           23.0          1.0
181      B6           66.0          1.0
180      B6           22.0          1.0
309      DL          185.0          1.0
310      DL          747.0          1.0
375      DL          221.0          1.0
353      DL           96.0          1.0
303      DL          118.0          1.0
256      DL           74.0          1.0
250      DL           63.0          1.0
263      DL          110.0          1.0
267      DL          188.0          1.0
285      DL          116.0          1.0
453      EV           26.0          1.0
401      EV           35.0          1.0
383      EV           29.0          1.0
411      EV           16.0          1.0
441      EV           41.0          1.0
430      EV           24.0          1.0
585      HA           48.0          1.0
625      NK           40.0          1.0
600      NK           16.0          1.0
780      OO           21.0          1.0
..      ...            ...          ...
824      OO           18.0          1.0
814      OO           19.0          1.0
792      OO          659.0          1.0
798      OO          891.0          1.0
812      OO           71.0          1.0
813      OO           33.0          1.0
653      OO           21.0          1.0
660      OO           20.0          1.0
666      OO          123.0          1.0
674      OO           22.0          1.0
651      OO           35.0          1.0
626      OO           73.0          1.0
628      OO          589.0          1.0
639      OO           54.0          1.0
648      OO           18.0          1.0
721      OO           24.0          1.0
685      OO          163.0          1.0
687      OO           78.0          1.0
680      OO           63.0          1.0
701      OO           28.0          1.0
897      UA           27.0          1.0
893      UA           20.0          1.0
916      UA          111.0          1.0
926      UA          114.0          1.0
918      UA          120.0          1.0
879      UA           39.0          1.0
956      VX           42.0          1.0
951      VX           23.0          1.0
964      WN          304.0          1.0
998      WN           46.0          1.0

[65 rows x 3 columns]

In [31]:
col_list= []
for x in df.columns:
    x = re.sub(r'\s+', '', x)
    col_list.append(x)
col_list

['year',
 'month',
 'carrier',
 'carrier_name',
 'airport',
 'airport_name',
 'arr_flights',
 'arr_del15',
 'carrier_ct',
 'weather_ct',
 'nas_ct',
 'security_ct',
 'late_aircraft_ct',
 'arr_cancelled',
 'arr_diverted',
 'arr_delay',
 'carrier_delay',
 'weather_delay',
 'nas_delay',
 'security_delay',
 'late_aircraft_delay']