# Look at new datasets

- first one is 2014
- second is 2015
- third is 2016

combine the first two for the train set and the last for the test set

In [47]:
import numpy as np
import pandas as pd

In [48]:
df_2014 = pd.read_csv('./2014_airline_delay_causes.csv')
df_2015 = pd.read_csv('./2015_airline_delay_causes.csv')
df_2016 = pd.read_csv('./2016_airline_delay_causes.csv')
df_16_17 = pd.read_csv('./october16_to17_airline_delay_causes.csv')

In [49]:
df_2014['airport_name'].value_counts()

Denver, CO: Denver International    130
Name: airport_name, dtype: int64

In [102]:
print (df_2014.shape),
print (df_2015.shape),
print (df_2016.shape),
print (df_16_17.shape)

(130, 21) (113, 21) (108, 21) (13500, 22)

Clean the data dropping columns with no information

In [51]:
# this code wil throw an error if you run the cell twice
df_2014, df_2015, df_2016 = df_2014.drop('Unnamed: 21', axis=1), df_2015.drop('Unnamed: 21', axis=1), df_2016.drop('Unnamed: 21', axis=1)

All the data and columns should now be ready for subsetting

In [52]:
df_2014.head(1)

,year,month,carrier,carrier_name,airport,airport_name,arr_flights,arr_del15,carrier_ct,weather_ct,...,security_ct,late_aircraft_ct,arr_cancelled,arr_diverted,arr_delay,carrier_delay,weather_delay,nas_delay,security_delay,late_aircraft_delay
0,2014,1,AA,American Airlines Inc.,DEN,"Denver, CO: Denver International",399.0,128.0,53.67,4.62,...,0.0,42.11,5.0,0.0,6166.0,2617.0,290.0,940.0,0.0,2319.0

In [53]:
df_2015.head(1)

,year,month,carrier,carrier_name,airport,airport_name,arr_flights,arr_del15,carrier_ct,weather_ct,...,security_ct,late_aircraft_ct,arr_cancelled,arr_diverted,arr_delay,carrier_delay,weather_delay,nas_delay,security_delay,late_aircraft_delay
0,2015,1,AA,American Airlines Inc.,DEN,"Denver, CO: Denver International",480.0,126.0,52.57,4.28,...,0.48,36.43,0.0,1.0,6185.0,2446.0,389.0,1144.0,10.0,2196.0

In [54]:
df_2016.head(1)

,year,month,carrier,carrier_name,airport,airport_name,arr_flights,arr_del15,carrier_ct,weather_ct,...,security_ct,late_aircraft_ct,arr_cancelled,arr_diverted,arr_delay,carrier_delay,weather_delay,nas_delay,security_delay,late_aircraft_delay
0,2016,1,AA,American Airlines Inc.,DEN,"Denver, CO: Denver International",818.0,139.0,60.69,3.57,...,0.18,46.26,14.0,0.0,7423.0,3531.0,213.0,816.0,3.0,2860.0

###### 2017.01.03

In [58]:
print(df_2014.shape),
print(df_2015.shape),
print(df_2016.shape)

(130, 21) (113, 21) (108, 21)

In [74]:
df_2014.dtypes

year                     int64
 month                   int64
carrier                 object
carrier_name            object
airport                 object
airport_name            object
arr_flights            float64
arr_del15              float64
carrier_ct             float64
 weather_ct            float64
nas_ct                 float64
security_ct            float64
late_aircraft_ct       float64
arr_cancelled          float64
arr_diverted           float64
 arr_delay             float64
 carrier_delay         float64
weather_delay          float64
nas_delay              float64
security_delay         float64
late_aircraft_delay    float64
dtype: object

In [86]:
df_2014['arr_del15'].describe()

count     130.000000
mean      338.830769
std       383.336680
min         1.000000
25%        35.250000
50%       111.000000
75%       649.250000
max      1459.000000
Name: arr_del15, dtype: float64

In [90]:
df_2014.groupby(by='airport_name')

TypeError: 'SeriesGroupBy' object is not callable

In [101]:
pd.crosstab(df_2014['weather_delay'], df_2014[' month'])

 month         1   2   3   4   5   6   7   8   9   10  11
weather_delay
0.0             2   1   3   3   1   2   1   4   3   2   3
1.0             0   0   0   0   0   0   0   0   0   1   0
10.0            0   0   0   0   0   0   1   0   0   0   0
11.0            0   0   0   1   0   0   0   0   0   0   0
13.0            0   0   0   0   0   1   0   0   0   0   0
14.0            1   0   0   0   0   0   0   0   0   0   0
15.0            0   1   0   0   0   0   0   0   0   0   0
16.0            0   0   1   0   0   0   0   0   0   0   0
20.0            0   0   0   0   0   0   1   0   0   0   0
23.0            0   0   0   0   0   0   0   0   1   0   0
24.0            0   0   0   0   0   0   0   0   0   1   0
26.0            0   0   1   0   0   0   0   0   0   0   0
33.0            0   0   0   0   0   0   1   0   1   0   0
34.0            0   0   0   1   0   0   0   0   0   0   0
40.0            0   0   0   0   0   1   0   0   0   0   0
42.0            0   0   0   1   0   0   0   0   0   0   0
68.0            0   0   0   0   1   0   0   0   0   0   0
78.0            1   0   0   0   0   0   0   0   0   0   0
84.0            0   0   0   0   0   0   0   0   1   0   0
95.0            0   0   0   0   0   0   0   0   0   1   0
97.0            0   0   0   0   1   0   0   0   0   0   0
98.0            0   0   0   0   0   0   0   0   0   1   0
113.0           0   0   0   0   0   1   0   0   0   0   0
122.0           0   0   0   0   0   0   0   1   0   0   0
130.0           0   0   0   0   0   0   0   0   1   0   0
131.0           0   0   0   0   0   0   0   0   1   0   0
153.0           0   0   0   0   0   0   0   0   0   1   0
166.0           0   1   0   0   0   0   0   0   0   0   0
173.0           0   0   0   0   0   0   0   0   0   0   1
174.0           0   0   0   0   0   0   0   0   0   0   1
...            ..  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..
1216.0          0   0   0   0   0   1   0   0   0   0   0
1235.0          0   0   0   0   0   1   0   0   0   0   0
1280.0          1   0   0   0   0   0   0   0   0   0   0
1281.0          1   0   0   0   0   0   0   0   0   0   0
1410.0          0   0   0   0   0   0   1   0   0   0   0
1457.0          0   0   0   1   0   0   0   0   0   0   0
1462.0          0   0   0   0   1   0   0   0   0   0   0
1484.0          0   0   0   0   0   0   0   1   0   0   0
1534.0          0   0   0   0   0   0   0   0   0   0   1
1543.0          0   0   1   0   0   0   0   0   0   0   0
1731.0          0   0   1   0   0   0   0   0   0   0   0
1743.0          1   0   0   0   0   0   0   0   0   0   0
1865.0          0   1   0   0   0   0   0   0   0   0   0
1930.0          0   1   0   0   0   0   0   0   0   0   0
2071.0          0   0   0   0   1   0   0   0   0   0   0
2075.0          0   0   0   0   0   0   0   1   0   0   0
2312.0          0   1   0   0   0   0   0   0   0   0   0
2434.0          0   0   0   0   0   0   0   1   0   0   0
2444.0          0   0   0   0   0   0   0   0   1   0   0
2764.0          0   0   0   0   0   1   0   0   0   0   0
2963.0          0   0   0   0   0   0   1   0   0   0   0
2988.0          1   0   0   0   0   0   0   0   0   0   0
3111.0          0   0   1   0   0   0   0   0   0   0   0
3534.0          0   1   0   0   0   0   0   0   0   0   0
3596.0          0   0   0   0   0   0   0   0   0   0   1
3712.0          1   0   0   0   0   0   0   0   0   0   0
3865.0          1   0   0   0   0   0   0   0   0   0   0
4322.0          0   0   0   0   0   1   0   0   0   0   0
7136.0          0   0   0   0   0   0   1   0   0   0   0
8495.0          0   0   0   0   1   0   0   0   0   0   0

[104 rows x 11 columns]

In [55]:
df_2014.columns

Index([u'year', u' month', u'carrier', u'carrier_name', u'airport',
       u'airport_name', u'arr_flights', u'arr_del15', u'carrier_ct',
       u' weather_ct', u'nas_ct', u'security_ct', u'late_aircraft_ct',
       u'arr_cancelled', u'arr_diverted', u' arr_delay', u' carrier_delay',
       u'weather_delay', u'nas_delay', u'security_delay',
       u'late_aircraft_delay'],
      dtype='object')

In [63]:
df_2014['airport'].value_counts()

DEN    130
Name: airport, dtype: int64

In [64]:
df_2015['airport'].value_counts()

DEN    113
Name: airport, dtype: int64

In [65]:
df_2016['airport'].value_counts()

DEN    108
Name: airport, dtype: int64

In [66]:
# df_2014.iloc[:, 5:]

In [20]:
import statsmodels.formula.api as smf

# create a fitted model in one line
#formula notification is the equivalent to writing out our models such that 'outcome = predictor'
#with the follwing syntax formula = 'outcome ~ predictor1 + predictor2 ... predictorN'
lm = smf.ols(formula='late_aircraft_delay ~ arr_del15', data=df_2014).fit()

#print the full summary
lm.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                             OLS Regression Results
===============================================================================
Dep. Variable:     late_aircraft_delay   R-squared:                       0.935
Model:                             OLS   Adj. R-squared:                  0.935
Method:                  Least Squares   F-statistic:                     1847.
Date:                 Wed, 03 Jan 2018   Prob (F-statistic):           6.48e-78
Time:                         12:06:39   Log-Likelihood:                -1215.5
No. Observations:                  130   AIC:                             2435.
Df Residuals:                      128   BIC:                             2441.
Df Model:                            1
Covariance Type:             nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept   -560.8893    328.846     -1.706      0.091   -1211.568      89.789
arr_del15     27.6810      0.644     42.973      0.000      26.406      28.956
==============================================================================
Omnibus:                       14.996   Durbin-Watson:                   2.610
Prob(Omnibus):                  0.001   Jarque-Bera (JB):               27.118
Skew:                           0.505   Prob(JB):                     1.29e-06
Kurtosis:                       4.996   Cond. No.                         683.
==============================================================================

Warnings:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.
"""

In [33]:
%matplotlib inline

In [72]:
df_2016['carrier_name'].value_counts()

SkyWest Airlines Inc.     11
JetBlue Airways           11
American Airlines Inc.    11
Frontier Airlines Inc.    11
Delta Air Lines Inc.      11
Alaska Airlines Inc.      11
Southwest Airlines Co.    11
Spirit Air Lines          11
United Air Lines Inc.     11
Virgin America             9
Name: carrier_name, dtype: int64

In [37]:
df_2014.describe()

,year,month,arr_flights,arr_del15,carrier_ct,weather_ct,nas_ct,security_ct,late_aircraft_ct,arr_cancelled,arr_diverted,arr_delay,carrier_delay,weather_delay,nas_delay,security_delay,late_aircraft_delay
count,130.0,130.000000,130.000000,130.000000,130.000000,130.000000,130.000000,130.000000,130.000000,130.000000,130.000000,130.000000,130.000000,130.000000,130.000000,130.000000,130.000000
mean,2014.0,5.923077,1583.546154,338.830769,81.214077,9.533846,109.845692,0.285000,137.951846,24.092308,5.838462,19767.446154,5118.353846,832.992308,4987.100000,10.730769,8818.269231
std,0.0,3.136718,1727.310416,383.336680,95.619905,14.416629,124.615306,0.756044,179.551299,44.612795,9.873466,22289.792794,5594.515185,1303.355250,5840.838471,31.772883,10972.713585
min,2014.0,1.000000,2.000000,1.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,17.000000,0.000000,0.000000,17.000000,0.000000,0.000000
25%,2014.0,3.000000,137.000000,35.250000,11.347500,0.450000,11.375000,0.000000,9.412500,0.250000,0.000000,1937.000000,553.250000,20.750000,420.750000,0.000000,454.000000
50%,2014.0,6.000000,507.500000,111.000000,38.185000,4.185000,40.610000,0.000000,31.805000,5.000000,2.000000,6131.500000,2141.000000,315.500000,1646.500000,0.000000,1907.000000
75%,2014.0,9.000000,3348.000000,649.250000,121.177500,11.987500,195.830000,0.000000,218.215000,17.750000,5.000000,37144.250000,9630.500000,1016.250000,8483.000000,0.000000,15432.500000
max,2014.0,11.000000,5160.000000,1459.000000,430.770000,79.570000,447.670000,5.720000,679.070000,247.000000,50.000000,89290.000000,25482.000000,8495.000000,22965.000000,234.000000,45140.000000

In [103]:
df_16_17.head()

,year,month,carrier,carrier_name,airport,airport_name,arr_flights,arr_del15,carrier_ct,weather_ct,...,late_aircraft_ct,arr_cancelled,arr_diverted,arr_delay,carrier_delay,weather_delay,nas_delay,security_delay,late_aircraft_delay,Unnamed: 21
0,2016,10,AA,American Airlines Inc.,BOS,"Boston, MA: Logan International",2363.0,417.0,114.01,6.23,...,95.43,32.0,1.0,20035.0,5672.0,498.0,8532.0,141.0,5192.0,NaN
1,2016,10,AA,American Airlines Inc.,JFK,"New York, NY: John F. Kennedy International",1453.0,235.0,75.95,0.04,...,60.42,11.0,4.0,12249.0,5139.0,4.0,3416.0,135.0,3555.0,NaN
2,2016,10,AA,American Airlines Inc.,LAX,"Los Angeles, CA: Los Angeles International",3336.0,695.0,208.48,4.08,...,171.81,19.0,7.0,36069.0,13810.0,398.0,10086.0,91.0,11684.0,NaN
3,2016,10,AA,American Airlines Inc.,DFW,"Dallas/Fort Worth, TX: Dallas/Fort Worth Inter...",11619.0,1240.0,417.38,18.70,...,438.49,57.0,6.0,78816.0,36708.0,1007.0,11205.0,194.0,29702.0,NaN
4,2016,10,AA,American Airlines Inc.,OKC,"Oklahoma City, OK: Will Rogers World",145.0,13.0,7.68,0.00,...,1.35,0.0,1.0,497.0,308.0,0.0,149.0,0.0,40.0,NaN