In [1]:
import pandas as pd

zillow_df = pd.read_csv("/Users/665066/Desktop/lesson-03/dataset/zillow.csv")

In [2]:
zillow_df[['IsAStudio']]

    IsAStudio
0       False
1       False
2       False
3       False
4       False
5       False
6       False
7       False
8        True
9       False
10      False
11      False
12      False
13      False
14      False
15      False
16      False
17      False
18      False
19      False
20      False
21      False
22      False
23       True
24      False
25      False
26      False
27      False
28      False
29      False
..        ...
970     False
971     False
972     False
973     False
974     False
975     False
976     False
977     False
978      True
979     False
980      True
981     False
982     False
983     False
984     False
985      True
986     False
987       NaN
988     False
989     False
990     False
991     False
992     False
993     False
994      True
995      True
996     False
997     False
998     False
999     False

[1000 rows x 1 columns]

In [3]:
zillow_df.head()  # Fetch the first 5 rows
zillow_df.describe()  # Compute summary statistics

,ID,Latitude,Longitude,SalePrice,BedCount,BathCount,Size,LotSize,BuiltInYear
count,1.000000e+03,1.000000e+03,1.000000e+03,1000.000000,836.000000,942.000000,967.000000,556.000000,975.000000
mean,1.591666e+08,3.775959e+07,-1.224348e+08,298264.042160,2.572967,1.977548,1641.300931,2809.112770,1947.533333
std,4.928856e+08,2.531078e+04,3.157521e+04,381637.332787,1.250891,1.130334,1027.016175,1097.087521,38.021563
min,1.506347e+07,3.770844e+07,-1.225106e+08,1.000000,1.000000,1.000000,264.000000,0.280000,1870.000000
25%,1.512042e+07,3.773848e+07,-1.224535e+08,1.350000,2.000000,1.000000,1027.500000,2374.000000,1912.000000
50%,1.516415e+07,3.776023e+07,-1.224317e+08,2.500000,2.000000,2.000000,1350.000000,2613.000000,1939.000000
75%,6.739436e+07,3.777999e+07,-1.224098e+08,718500.000000,3.000000,2.000000,1947.500000,3049.000000,1986.000000
max,2.136214e+09,3.780543e+07,-1.223712e+08,999000.000000,9.000000,14.000000,11500.000000,10454.000000,2015.000000

In [4]:
columns_to_select = ['Address', 'Latitude', 'Longitude']

zillow_df[columns_to_select].iloc[5:10]

new_zillow_df = zillow_df.set_index('ID')

new_zillow_df.loc[15063471:25063506, ['Address', 'Latitude', 'Longitude']]

                                               Address  Latitude  Longitude
ID
15063471     55 Vandewater St APT 9, San Francisco, CA  37805103 -122412856
15063505           740 Francisco St, San Francisco, CA  37804420 -122417389
15063609           819 Francisco St, San Francisco, CA  37803728 -122419055
15064044      199 Chestnut St APT 5, San Francisco, CA  37804392 -122406590
15064257    111 Chestnut St APT 403, San Francisco, CA  37804240 -122405509
15064295    111 Chestnut St APT 702, San Francisco, CA  37804240 -122405509
15064391     1821 Grant Ave APT 101, San Francisco, CA  37803748 -122408531
15064536        2300 Leavenworth St, San Francisco, CA  37802408 -122417537
15064640       1047-1049 Lombard St, San Francisco, CA  37801889 -122418704
15064669        1055 Lombard St # C, San Francisco, CA  37801873 -122418834
15065032    101 Lombard St APT 116E, San Francisco, CA  37803470 -122404090
15065140   1407 Montgomery St APT 2, San Francisco, CA  37802299 -122404941
15065727   1360 Montgomery St APT 1, San Francisco, CA  37801802 -122404269
15065810        1327-1329 Kearny St, San Francisco, CA  37800260 -122406123
15065946     44 Macondray Ln APT 2E, San Francisco, CA  37799474 -122414835
15066001      1070 Green St APT 201, San Francisco, CA  37798792 -122416797
15066036     1070 Green St APT 1402, San Francisco, CA  37798792 -122416797
15066085  1907 Leavenworth St APT 8, San Francisco, CA  37798645 -122417500
15066201        1101 Green St # 303, San Francisco, CA  37798234 -122417394
15066281              1807 Jones St, San Francisco, CA  37797920 -122415745
15066344       999 Green St APT 905, San Francisco, CA  37798451 -122415218
15066608     455 Vallejo St APT 111, San Francisco, CA  37798796 -122404766
15066839       1163-1165 Vallejo St, San Francisco, CA  37797445 -122416366
15066959           1300 Pacific Ave, San Francisco, CA  37795805 -122416840
15067302             948 Jackson St, San Francisco, CA  37795662 -122410789
15067583     946 Stockton St APT 6B, San Francisco, CA  37794715 -122407810
15067604     946 Stockton St APT 9E, San Francisco, CA  37794715 -122407810
15067755       1250 Clay St APT 306, San Francisco, CA  37793575 -122413670
15067890      1250 Jones St APT 503, San Francisco, CA  37793071 -122414049
15067896      1250 Jones St APT 802, San Francisco, CA  37793071 -122414049
...                                                ...       ...        ...
15196282      33 Santa Cruz Ave # 3, San Francisco, CA  37709136 -122465327
15196397              2955 21st Ave, San Francisco, CA  37733459 -122477272
15196408              2970 22nd Ave, San Francisco, CA  37733225 -122477613
15196651              3045 22nd Ave, San Francisco, CA  37731749 -122477793
15196864             20 Rossmoor Dr, San Francisco, CA  37730314 -122473000
15197241           312 Stratford Dr, San Francisco, CA  37719559 -122473829
15197693           87 Clearfield Dr, San Francisco, CA  37732345 -122491719
15197823          195 Clearfield Dr, San Francisco, CA  37729773 -122491161
15197844          114 Clearfield Dr, San Francisco, CA  37731595 -122491148
15197869           151 Everglade Dr, San Francisco, CA  37731504 -122489116
15198105        266 Country Club Dr, San Francisco, CA  37732595 -122496852
15198208        447 Country Club Dr, San Francisco, CA  37730962 -122495345
15198845                77 Amber Dr, San Francisco, CA  37745991 -122444872
15198984        5 Red Rock Way # 75, San Francisco, CA  37745980 -122442612
15199198  215 Red Rock Way APT 306J, San Francisco, CA  37745639 -122442432
15199248  135 Red Rock Way APT 112L, San Francisco, CA  37746221 -122441968
15199271  135 Red Rock Way APT 311L, San Francisco, CA  37746221 -122441966
15199286   95 Red Rock Way APT 202M, San Francisco, CA  37746339 -122441520
15199299   95 Red Rock Way APT 303M, San Francisco, CA  37746324 -122441517
15199562           404 Gold Mine Dr, San Francisco, CA  37739284 -122438555
15199573           448 Gold Mine Dr, San Francisco, CA  37739244 -122437100
15199947              179 Topaz Way, San Francisco, CA  37740080 -122437123
15200088             2212 Castro St, San Francisco, CA  37743817 -122433688
15200247              43 Everson St, San Francisco, CA  37738321 -122430068
15200386               232 Bemis St, San Francisco, CA  37736524 -122431895
15200392               288 Bemis St, San Francisco, CA  37736136 -122432406
15200453  5553 Diamond Heights Blvd, San Francisco, CA  37738774 -122436320
15200513               155 Arbor St, San Francisco, CA  37736967 -122437193
19333808                     San Carlos St, Carmel, CA  37762245 -122420046
21698704        912 Corbett Ave # 2, San Francisco, CA  37752317 -122443923

[669 rows x 3 columns]